body{
  background-image: url(assets/background.svg);
  /*background-size: cover;*/
  height:100vh;
  background-color: #262626;
  background-repeat: no-repeat;
}
.ghost-coffin{
    scale:.12;
    align-items: center;
   position: absolute;
   top:-200px;

  }
.coffin{
  scale:.12;
  align-items: center;
  position:absolute;
  top:-200px;

 
  }


h1, h2, h3{
font-family: "lores-12-bold-alt-oakland", sans-serif;
font-weight: 400;
font-style: normal;
color:aliceblue;

}



/*ghostcoffinstyle*/
.ghost-eyes {
    fill: #262626;
  }

  .coffinsidein {
    fill: #6c6c6c;
  }

  .ghost-body {
    fill: #dbdbdb;
  }

  .coffinin {
    fill: #8c8c8c;
  }
  

  /*coffinstyle*/
  .coffinside {
    fill: #6c6c6c;
  }

  .coffin-front {
    fill: #a0a0a0;
  }
  
  

  /* nav grid*/
  nav{
    padding-left:4em;
    padding-right: 4em;
    width: 100%;
    top:0;
    left:0;
    z-index:10;
  }


  nav ul {
    align-items: center;
    margin:0 auto;
    scale:.8;
    display:flex;
  }
  nav li{
    padding: 1em 0;
    list-style-type: none;
    padding: 2px;
    font-size: 1.2em;
  }
  
  nav li a {
    color:rgb(64, 64, 65);
    font-weight: 600;
    text-decoration: none;
    font-family: "lores-12-bold-alt-oakland", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: .3s;
  }
  
  nav li a:hover {
    color:rgb(35, 35, 35);
    opacity: 1;
    text-decoration: none;
  }

  @media only screen and (min-width: 1200px){
  
    .icon{
      /* margin-left: 30%; */
      /* margin-right: 30%; */
      width:50%;
      margin: 0 auto;
      /* display: flex; */
      grid-area: logo;
    }
    nav li{
      padding: 1em 0;
      list-style-type: none;
      padding: 150px;
      font-size: 1.7em;
    }
    
    }
  
