 *{ border:3px solid blue;} 

body{
  background-color: darkblue;
  background-image: url(assets/background-mobile.svg);
  /* background-size: cover; */
  height:100vh;
  width:100vw;
  background-color: #262626;
  background-repeat: no-repeat;
  margin:0;
}

svg{
  width:20%;
 margin-top: 120%;
 margin-left:35%;
  /* position:relative; */
}

.coffin{
  position:fixed;
}

.ghost-coffin{
  position:fixed;
  
 
}
  

/*ghostcoffinstyle*/
.ghost-eyes {
    fill: #262626;
  }

  .coffinsidein, .coffinside{
    fill: #6c6c6c;
  }

  .ghost-body {
    fill: #dbdbdb;
  }

  .coffinin {
    fill: #8c8c8c;
  }
  

  /*coffinstyle*/
  .coffin-front {
    fill: #a0a0a0;
  }
  

  /* nav grid*/
  nav{
    width: 100%;
    z-index:10;
    margin-top:150%;
  }


  nav ul {
    scale:1.1;
    display:flex;  
   justify-content: center;
   padding:0;
  }

  nav li{
    list-style-type: none;
    font-size: 1.2em;
  
  }
  
  nav li a {
    color:rgb(64, 64, 65);
    font-weight: 600;
    text-decoration: none;
    font-family: "lores-12-bold-alt-oakland", sans-serif;
    font-style: normal;
    transition: .3s;
  }

  
  @media only screen and (min-width: 1200px){
    body{
      background-image: url(assets/background.svg);
      background-color: #262626;
      background-repeat: no-repeat;
    }
    .icon{
      /* margin-left: 30%; */
      /* margin-right: 30%; */
      width:50%;
      margin: 0 auto;

    }
    nav li{
      padding: 1em 0;
      list-style-type: none;
      padding: 150px;
      font-size: 1.7em;
    }
    
    }
  
